[nas]
127.0.0.1

[nas:vars]
ansible_user=root
ansible_become=yes
ansible_become_method=sudo
ansible_become_pass=''

[dokku:vars]
ansible_user=root
ansible_become=yes
ansible_become_method=sudo
ansible_become_pass=''
app_name='appname'
app_domain='example.com'
aws_access_key_id='aws_secret_access_key'
aws_secret_access_key='aws_secret_access_key'
bucket_name='bucket_name'

[dokku]
192/168.0.1

[immich]
127.0.0.1

[immich:vars]
ansible_user=root
ansible_become=yes
ansible_become_method=sudo
ansible_become_pass=''
backblaze_app_key_id=123
backblaze_app_key=123
backblaze_hard_delete=true
backblaze_bucket_name=backblaze-bucket-name
backblaze_remote_name=backblaze-remote-name
local_backup_path=/media/hdd/immich
healthchecks_ping_url='http://192/168.0.1:8020/ping/'
hc_paperless_backup_uuid=''
hc_paperless_backup_uploaded_uuid=''
hc_immich_backup_uuid=''
hc_immich_backup_uploaded_uuid=''

[thinky01]
192/168.0.1

[thinky01:vars]
ansible_user=root
ansible_become=yes
ansible_become_method=sudo
ansible_become_pass=''
backblaze_bucket_name: backblaze_bucket_name
backblaze_remote_name: backblaze_bucket_name
