gitea.chibi.rodeo {
	reverse_proxy gitea:3000
	tls {
		dns cloudflare 123
	}
}

immich.chibi.rodeo {
	reverse_proxy 10.0.0.202:2283
	tls {
		dns cloudflare 123
	}
}

chibi.rodeo {
	reverse_proxy homepage:3000
	tls {
		dns cloudflare 123
	}
}

jellyfin.chibi.rodeo {
	reverse_proxy localhost:8096
	tls {
		dns cloudflare 123
	}
}

uptime.chibi.rodeo {
	reverse_proxy uptime-kuma:3001
	tls {
		dns cloudflare 123
	}
}

healthchecks.chibi.rodeo {
	reverse_proxy healthchecks:8000
	tls {
		dns cloudflare 123
	}
}

pihole.chibi.rodeo {
	reverse_proxy pihole:80
	tls {
		dns cloudflare 123
	}
}

pve.chibi.rodeo {
	reverse_proxy 10.0.0.201:8006
	tls {
		dns cloudflare 123
	}
}

docs.chibi.rodeo {
	reverse_proxy 10.0.0.200:8010
	tls {
		dns cloudflare 123
	}
}

registry.chibi.rodeo {
	reverse_proxy registry:5000
	tls {
		dns cloudflare 123
	}
}

dawarich.chibi.rodeo {
	reverse_proxy 10.0.0.200:3000
	tls {
		dns cloudflare 123
	}
}

n8n.chibi.rodeo {
	reverse_proxy 10.0.0.200:5678
	tls {
		dns cloudflare 123
	}
}

actual.chibi.rodeo {
	reverse_proxy 10.0.0.200:5006
	tls {
		dns cloudflare 123
	}
}

vaultwarden.chibi.rodeo {
	reverse_proxy 10.0.0.200:8088
	tls {
		dns cloudflare 123
	}
}

photon.chibi.rodeo {
	reverse_proxy 10.0.0.202:2322
	tls {
		dns cloudflare 123
	}
}

authentik.chibi.rodeo {
	reverse_proxy 10.0.0.200:9090
	tls {
		dns cloudflare 123
	}

}

ntfy.chibi.rodeo {
	reverse_proxy 10.0.0.200:65080
	tls {
		dns cloudflare 123
	}
}

flibusta.chibi.rodeo {
	reverse_proxy 10.0.0.202:12380
	tls {
		dns cloudflare 123
	}
}

home.chibi.rodeo {
	reverse_proxy 10.0.0.200:3015
	tls {
		dns cloudflare 123
	}
}

owncloud.chibi.rodeo {
	reverse_proxy 10.0.0.202:65508
	tls {
		dns cloudflare 123
	}
}
