gitea.chibi.rodeo {
	reverse_proxy gitea:3000
	tls {
		dns cloudflare 123
	}
}

immich.chibi.rodeo {
	reverse_proxy immich_server:3001
	tls {
		dns cloudflare 123
	}
}

chibi.rodeo {
	reverse_proxy homepage:3000
	tls {
		dns cloudflare 123
	}
}

jellyfin.chibi.rodeo {
	reverse_proxy localhost:8096
	tls {
		dns cloudflare 123
	}
}

uptime.chibi.rodeo {
	reverse_proxy uptime-kuma:3001
	tls {
		dns cloudflare 123
	}
}

healthchecks.chibi.rodeo {
	reverse_proxy healthchecks:8000
	tls {
		dns cloudflare 123
	}
}

pihole.chibi.rodeo {
	reverse_proxy pihole:80
	tls {
		dns cloudflare 123
	}
}

pve.chibi.rodeo {
	reverse_proxy 192.168.178.201:8006
	tls {
		dns cloudflare 123
	}
}
